// font-family: 'Cormorant Infant', serif;

// font-family: 'PT Sans', sans-serif;
%corm-fw3{
    font-family: 'Cormorant Infant', serif;
    font-style: italic;
    font-weight: 300;
}
%corm-fw6{
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    font-style: italic;

}
%corm-fw7{
    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
}
%pt-fw4{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
%pt-fw7{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

